@import "./breakpoints.scss";

.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @include lg {
      grid-template-columns: 1fr 1fr;
    }

    @include md {
      grid-template-columns: 1fr;
    }

  }

  > .heading + .items {
    margin-top: 32px;
  }
}
